html {
	background-color: #F57C00;
}
body {
	color: #424242;
}

label {
  font-size: 1em !important;
  font-weight: bold;
}

input.select-dropdown {
  color: #2bbbad;
}

.container {
	width: 85%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5px 40px;
	border: 2px solid #e0e0e0;
	background-color: #ffffff;
}

.menu-icon {
	margin-top: -8px;
}

.headline {
	padding: 10px 5px;
}
