  <div class="container">
    <div class="headline"></div>
    <div class="row">
      <div class="col s6">
        <ul class="collection with-header">
          <li class="collection-header center orange darken-2">
            <h4>Teams</h4>
          </li>
        </ul>
        <% @users.each do |user| %>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header text-justify">
                <h5>
                  <%= display_user(user) %>
                  <i class='material-icons menu-icon'>list</i>
                </h5>
              </div>
              <div class="collapsible-body">
                <ul class="collection">
                  <%  user.teams.each do |team| %>
                    <li class="collection-item">
                      <%= display_team(user, team) %>
                    </li>
                  <% end %>
                  <li class="collection-item orange darken-2">
                    Total Wins: <%= user.wins(@year) %>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="col s6">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header center orange darken-2">
            <h4>Standings</h4>
          </li>
          <% @standings.each do |user| %>
            <li class="collection-item">
              <h5><%= display_standings(user) %></h5>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
