<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="https://fb.me/react-15.2.0.js"></script>
    <script src="https://fb.me/react-dom-15.2.0.js"></script>
    <title>NCAA Pick Five</title>
  </head>
  <body>
    <header></header>
    <div class="app"></div>
    <%= yield %>
    <footer>
      <div class="footer-copyright">
        <div class="container center">
          © 2015-2017 Jen Trudell
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
