  <div class="container">
    <div class="headline"></div>
    <div class="row">
      <div class="col s12">
        <ul class="collection with-header">
          <li class="collection-header center orange darken-2">
            <h4>Confirmation</h4>
          </li>
        </ul>
        <div class="row">
          <p>Name: <%= @user.name %></p>
          <p>Teams:</p>
          <% @picks.each_with_index do |pick, index| %>
            <p><%= index + 1 %>. <%= pick.team.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
